<h2>Dodaj nowy projekt</h2>
<form (submit)="onSubmit($event)">
  <mat-form-field class="row textarea-field">
    <mat-label>Nazwa projektu </mat-label>
    <input matInput [formField]="newProjectForm.name">
    @if (newProjectForm.name().touched() && newProjectForm.name().invalid() && newProjectForm.name().errors().length >
    0) {
    <mat-error><strong> {{newProjectForm.name().errors()[0].message }}</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field class="row textarea-field">
    <mat-label>Opis projektu </mat-label>
    <textarea matInput [formField]="newProjectForm.description" rows="3"></textarea>
  </mat-form-field>

  <mat-checkbox [formField]="newProjectForm.isPrivate">
    Czy prywatny projekt
  </mat-checkbox>

  <mat-form-field class="row textarea-field">
    <mat-label>Właściciel projektu </mat-label>
    <input matInput [formField]="newProjectForm.owner">
    @if (newProjectForm.owner().touched() && newProjectForm.owner().invalid() && newProjectForm.owner().errors().length
    > 0) {
    <mat-error><strong> {{newProjectForm.owner().errors()[0].message }}</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field class="row select-field">
    <mat-label>Typ projektu</mat-label>
    <mat-select [formField]="newProjectForm.projectType">
      <mat-option value="Software">Software</mat-option>
      <mat-option value="Business">Business</mat-option>
      <mat-option value="ServiceManagement">Service Management</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" matButton="tonal">
    Dodaj nowy projekt
  </button>
  <button (click)="clearForm()" class="button" type="reset" matButton="outlined">
    Wyczyść formularz
  </button>
</form>