<h2>Dodaj nowe zadanie</h2>
<form (submit)="onSubmit($event)">
    <div class="row">
        <label>
            Identyfikator projektu: 
        </label>
        <select [formField]="taskForm.projectId">
            @for (project of projectsNames(); track project) {
                <option [value]="project.id">{{ project.name }}</option>
            }
        </select>
    </div>
        @if (taskForm.projectId().touched() && taskForm.projectId().invalid()) {
        <div class="row">
          <ul class="error-list">
            @for (error of taskForm.projectId().errors(); track error) {
              <li>{{ error.message }}</li>
            }
          </ul>
        </div>
    }
    <div class="row">
        <label>
            Priorytet zadania:
        </label>
        <select [formField]="taskForm.priority">
            <option value="Low">Niski</option>
            <option value="Medium">Średni</option>
            <option value="High">Wysoki</option>
        </select>
    </div>
    <div class="row">
        <label>
            Nazwa zadania: 
        </label>
        <input [formField]="taskForm.name"/>
    </div>
    @if (taskForm.name().touched() && taskForm.name().invalid()) {
        <div class="row">
          <ul class="error-list">
            @for (error of taskForm.name().errors(); track error) {
              <li>{{ error.message }}</li>
            }
          </ul>
        </div>
    }
    <div class="row">
        <label>
            Opis zadania: 
        </label>
        <textarea [formField]="taskForm.description" rows="2"></textarea>
    </div>
    <div class="row">
        <label>
            Czy zakończone: 
        </label>
        <input [formField]="taskForm.isCompleted" type="checkbox"/>
    </div>
    <div class="row">
        <label>
            Data utworzenia: 
        </label>
        <input [formField]="taskForm.creationDate" type="date"/>
    </div>
    <div class="row">
        <label>
            Data zakończenia: 
        </label>
        <input [formField]="taskForm.dueDate" type="date"/>
    </div>
    <div class="row">
        <label>
            Priorytet zadania:
        </label>
        <select [formField]="taskForm.priority">
            <option value="Low">Niski</option>
            <option value="Medium">Średni</option>
            <option value="High">Wysoki</option>
        </select>
    </div>
    <div class="row">
        <label>
            Twórca zadania:
        </label>
        <input [formField]="taskForm.creatorName"/>
    </div>
        @if (taskForm.creatorName().touched() && taskForm.creatorName().invalid()) {
        <div class="row">
          <ul class="error-list">
            @for (error of taskForm.creatorName().errors(); track error) {
              <li>{{ error.message }}</li>
            }
          </ul>
        </div>
    }
    <button type="submit">
        Dodaj nowe zadanie
    </button>
    <button (click)="onClearForm()" class="button">
        Wyczyść formularz
    </button>
</form>
